# Files
# -----------------

*slash.json
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.anyconnect
.babel.json
.bash_history
.bash_login
.bashrc
.config/mc/ini
.emulator_console_auth_token
.environments
.gtk-bookmarks
.guard_history
.heroku
.irb*
.lesshst
.mysql_history
.netrc
.node_repl_history
.npm
.profile
.pry_history
.pryrc
.psql_history
.rdebug_hist
.read_manga_parser.yml
.rnd
.rvmrc
.site_parser_with_cache.yml
.sqlite_history
.ssh
.viminf*
.viminfo
.wget-hsts
.world_art_parser.yml
.yarnrc
.zcompdump*
.zlogin
.zsh*
default.txaPackage

.vim/.sessions
.vim/_bundle
.vim/browser
.vim/bundle


# Directories
# -----------------

.Trash/
.android/
.atom/
.backup/
.bash_sessions/
.berkshelf/
.bundle/
.cache/
.chef/
.chefdk/
.codeintel/
.config/
.cordova/
.dropbox/
.expo/
.fastlane/
.gem/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.gsutil/
.hex/
.ionic/
.itmstransporter/
.keras/
.local/
.m2/
.mix/
.ngrok/
.node-gyp/
.oh-my-zsh/
.oracle_jre_usage/
.phantomjs/
.pow
.putty/
.rbenv/
.react-native-cli/
.rncache/
.rvm/
.subversion/
.vim_backups/
.vue-templates/
.webdrivers/
Applications/
Backup/
Desktop/
Documents/
Downloads/
Dropbox*
Library/
Movies/
Music/
Pictures/
Public/
apps/
go/
log/
projects/
tmp/

.vim_my/
.vim_first_attempt/
