# Files
# -----------------

.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.bash_history
.bash_login
.bashrc
.emulator_console_auth_token
.environments
.gemrc
.gtk-bookmarks
.guard_history
.heroku
.irb*
.lesshst
.mysql_history
.netrc
.npm
.profile
.pry_history
.pryrc
.psql_history
.rdebug_hist
.read_manga_parser.yml
.rnd
.rvmrc
.site_parser_with_cache.yml
.sqlite_history
.ssh
.viminf*
.viminfo
.vimrc
.world_art_parser.yml
.zcompdump*
.zlogin
.zsh*

.vim/.sessions
.vim/_bundle
.vim/browser
.vim/bundle


# Directories
# -----------------

.Trash/
.android/
.atom/
.backup/
.bash_sessions/
.berkshelf/
.bundle/
.cache/
.chef/
.chefdk/
.codeintel/
.config/
.dropbox/
.gem/
.gnupg/
.gradle/
.gsutil/
.hex/
.local/
.m2/
.mix/
.node-gyp/
.oh-my-zsh/
.oracle_jre_usage/
.phantomjs/
.pow
.rbenv/
.rvm/
.subversion/
.vim_backups/
Applications/
Backup/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
apps/
go/
log/
projects/
tmp/
