.DS_Store
.NERDTreeBookmarks
.bash_history
.heroku
.irb*
.psql_history
.viminfo
.zsh*

.vim/.sessions
.vim/_bundle
.vim/browser
.vim/bundle

/.Trash
/.backup
/.bash_sessions
/.bundle
/.cache
/.gem
/.local
/.oh-my-zsh
/.pow
/.rbenv
/.subversion
/Applications
/Backup
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/apps
/go
/log
/projects
/tmp
